.footer {
  background: #000;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
}

.footerLogo {
  width: 360px;
  height: 517px;
  margin: 104px 0 104px 165px;
}
.footer p,
a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

.flexIcon {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}
.footerTexts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 480px) {
  .footer {
    width: auto;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
  }
  .footerLogo {
    margin: 0;
    height: auto;
    width: auto;
    align-self: center;
  }
  .footerLogo img {
    height: 200px;
    width: 130px;
  }
  .footer p,
  a {
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .footer {
    width: auto;
    padding: 2rem 10.5rem;

    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
  }
  .footerLogo {
    margin: 0;
    height: auto;
    width: auto;
  }
  .footerLogo img {
    height: 200px;
    width: 130px;
  }
  .footer p,
  a {
    font-size: 1rem;
  }
}
