.footer {
  background: #000;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
}

.footerLogo {
  width: 360px;
  height: 517px;
  margin: 104px 0 104px 165px;
}
.footer p,
a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

.linkedin {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}
