* {
  margin: 0px;
}
html {
  background: #444444;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.subtitle {
  color: #d9bce7;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 60px;
}
