.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  font-family: "JetBrains Mono", "Mulish", Arial, sans-serif;
  padding: 0.62rem 1.25rem;
  margin: 0 auto;
}
#logo {
  margin-left: 9rem;
}
.headerMenu {
  display: flex;
  flex-wrap: wrap;
  margin-right: 8rem;
  gap: 1.5rem;
  justify-content: center;
}
.headerMenu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 3.75rem;
  padding: 0.625rem 1.625rem;
  display: block;
}
@media (max-width: 960px) {
  .header {
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo {
    margin: 40px 0;
  }
  .headerMenu {
    padding: 0px;
    margin: 0px;
  }
  .headerMenu a {
    padding: 0px;
    margin: 0;
  }
} ;
